
@keyframes allocate-menu-option-hover {
    0% { border-color: dodgerblue; }
    50% { border-color: mediumpurple; }
    100% { border-color: dodgerblue; }
}


#allocate-stats-menu {
    border: black solid 1px;
    width: min-content;
    margin: 10px;
    position: absolute;
    display: none;
    background-color: white;
}
#allocate-stats-menu span {
    padding: 5px;
    margin: 5px;
    width: max-content;
    white-space: nowrap;
}
#allocate-stats-menu span:hover {
    background-color: whitesmoke;
    border: 3px solid;
    border-radius: 10px;
    box-sizing: border-box;
    animation: allocate-menu-option-hover 5s infinite;
}




#character-creator-head {
    padding: 10px;
    border-bottom: black solid 1px;
}

#character-creator {
    border: black solid 1px;
    width: min-content;
    margin: 10px;
    display: revert;
}


#character-creator-basics {
    display: flex;
    margin: 5px;
}
#character-creator-name {
    margin: 5px;
}
#character-creator-age {
    margin: 5px;
}
#character-creator-class {
    margin: 5px;
}
#character-creator-create-button {
    margin: 5px;
}



.character-creator-stat-field {
    margin-top: 3px;
    margin-bottom: 3px;
}
#character-creator-stats {
    display: grid;
    width: 90%;
    margin: auto;
}


#character-creator-roll-for-stats {
    border: black solid 1px;
    margin: auto;
    width: 100%;
    display: flex;
}
#character-creator-roll-for-stats span {
    padding: 10px;
    border: black solid 1px;
    margin: 5px;
    width: 10%;
    text-align: center;
}




.character-creator-skill-field {
    margin-top: 3px;
    margin-bottom: 3px;
}
#character-creator-skills {
    flex-direction: column;
    display: flex;
    padding: 10px;
}




