#dice-menu {
    border: black solid 1px;
    width: min-content;
    padding: 10px;
    white-space: nowrap;
    font-size: 20px;
    margin: 10px;
    display: flex;
}
#dice-menu input {
    width: 100px;
    min-width: 50px;
    margin: 1px;
}
#dice-result span {
    padding: 5px 10px;
    text-align: center;
    margin: 5px;
    user-select: none;
}
#dice-result span:hover  {
    border: black solid 1px;
    box-sizing: border-box;
}
#max-dice-number {}
#dice-roller {}
